html{
    height: 100%;
}
body{
    background-color: aqua;
    height: 100%;
}
.header{
    background-color: blue;
    height: 10%;
}
.section{
    background-color: yellowgreen;
    height: 80%;
}
.footer{
    background-color: azure;
    height: 10%;
}
.main{
    background-color: brown;
    height: 100%;
    width: 70%;
    display: inline-block;
}
.aside{
    background-color: chartreuse;
    height: 100%;
    width: 30%;
    display: inline-block;
}